---
import { Image } from "astro:assets";

interface Props {
  title: string;
  role: string;
  description: string;
  time: string;
  image: string;
}

const { title, role, description, time, image } = Astro.props;
---

<div
  class="flex flex-row justify-between items-baseline pl-2 w-full border-l border-zinc-500"
>
  <div class="flex flex-col text-zinc-100">
    <div class="flex flex-row gap-2 items-center">
      <Image src={image} alt="Kairos DS logo" width={20} height={20} />
      <h3
        class="text-base font-semibold tracking-tight sm:max-w-none sm:text-lg max-w-[20ch] text-primary-100"
      >
        {title}
      </h3>
    </div>
    <h3
      class="text-sm tracking-tight sm:max-w-none sm:text-base max-w-[20ch] text-zinc-200"
    >
      {role}
    </h3>
  </div>
  <time class="text-sm text-primary-600 text-zinc-500">{time}</time>
</div>
<p class="z-10 mt-4 text-sm text-primary-300 max-w-[75ch] text-zinc-400">
  {description}
</p>
