---
import { Image } from "astro:assets";
import Button from "./Button.astro";

interface Props {
  title: string;
  prefix: string;
}

const { title, prefix } = Astro.props;

const PROJECTS = [
  {
    title: "SOFA",
    tag: "Design",
    image: "/images/sofa.png",
  },
  {
    title: "KeyBoard",
    tag: "Branding",
    image: "/images/keyboard.png",
  },
  {
    title: "Work Media",
    tag: "Illustration",
    image: "/images/work-media.png",
  },
];
---

<section class="px-4">
  <p class="mb-4 text-accent">{prefix}</p>
  <div
    class="mb-8 flex flex-col items-start gap-4 md:mb-12 md:flex-row md:items-center md:justify-between"
  >
    <h2 class="text-white">{title}</h2>

    <Button text="Explore more" variant="outline" />
  </div>

  <div class="flex flex-col md:flex-row">
    {
      PROJECTS.map((project, index) => (
        <div
          class:list={[
            "relative w-full border-b border-r border-t border-dark-blue p-4",
            {
              "border-l": index === 0,
            },
          ]}
        >
          <Image
            class="w-full"
            src={project.image}
            alt={project.title}
            width={340}
            height={438}
          />
          <div class="absolute bottom-8 left-12">
            <p class="mb-4 w-fit rounded-full bg-white px-4 py-1 text-center leading-8 text-dark-accent">
              {project.tag}
            </p>
            <h3 class="text-white">{project.title}</h3>
          </div>
        </div>
      ))
    }
  </div>
</section>
